.tabs {
    width: 1000px;
    margin-left: 60px;
    border-bottom: 1px solid #e8e8e8;
    color: #999;
    font-size: 16px;
    overflow: hidden;
    margin-top: 10px;
}

.tabs li {
    height: 42px;
    line-height: 42px;
    float: left;
    margin-right: 40px;
    cursor: pointer;
}

.tabs li.active {
    color: #49a7fe;
    border-bottom: 3px solid #49a7fe;
}

.tab-box {
    min-height: 70px;
    padding: 40px 56px;
    color: #999;
    line-height: 27px;
}

.contact-us {
    display: none;
}