/**
 *   Author zhuhuishao
 *   Name global.css
 *   
 *   功能： 提供全局通用的css, (全局样式、标签默认样式、自定义plugins样式)
 *   描述： --------------------------------------------
 */

* {
    margin: 0;
    padding: 0;
}

html {
    background: #f5f5f5;
}

body {
    font-family: Microsoft YaHei;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    min-width: 1260px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

table {
    border: 1px solid #e8e8e8;
    border-color: #e8e8e8;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

table tr {
    height: 40px;
}

table th {
    background: #f2f2f2;
    border: 1px solid #e8e8e8;
    font-weight: normal;
    text-align: left;
    height: 60px;
    padding: 0 10px;
}

table td {
    border: 1px solid #e8e8e8;
    height: 50px;
    text-align: left;
    padding: 0 10px;
    color: #666;
}

.modal {
    display: none;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: auto;
}

.modal-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    width: 460px;
    min-height: 400px;
    min-height: 100px;
    z-index: 1100;
    border-radius: 6px;
    background: #fff;
    margin-bottom: 30px;
}

.modal-body {
    margin: 0 auto;
    display: none;
    position: relative;
    padding: 40px;
}

.modal-close-btn {
    display: block;
    height: 15px;
    width: 15px;
    background-image: url('../images/close.png');
    background-size: 15px;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.alert {
    display: none;
}

.alert-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.alert-content {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1100;
    background: #fff;
    width: 540px;
    min-height: 430px;
    display: none;
}

.alert-header {
    height: 50px;
    line-height: 50px;
    background: #49a7fe;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.alert-body {
    margin: 0 auto;
    position: relative;
    padding-bottom: 105px;
}

.alert-footer {
    width: 100%;
    position: absolute;
    bottom: 40px;
    text-align: center;
}

.alert-ok-btn {
    height: 35px;
    line-height: 35px;
    display: block;
    background: #49a7fe;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
    border-radius: 4px;
    cursor: pointer;
}

.alert-close-btn {
    display: block;
    height: 15px;
    width: 15px;
    background-image: url('../images/close_btn.png');
    background-size: 15px;
    position: absolute;
    right: 13px;
    top: 17px;
    cursor: pointer;
}

.alert-content-box {
    text-align: center;
    font-size: 16px;
    padding-top: 35px;
}

.alert-content-box p {
    margin-top: 8px;
    line-height: 16px;
}