.live-box-content {
    overflow: hidden;
}

.live-box-left {
    width: 960px;
    float: left;
    background: #fff;
    height: 790px;
}

.live-header {
    width: 960px;
    border-bottom: 1px solid #e8e8e8;
    background: #fff;
    height: 80px;
}

.live-headimg {
    float: left;
    height: 60px;
    width: 60px;
    border: 1px solid #e8e8e8;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    margin: 8px 0 0 20px;
}

.live-title-box {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.live-title {
    overflow: hidden;
}

.live-title p {
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 10px;
    width: 600px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.live-title span {
    background: #fe8949;
    color: #fff;
    float: left;
    padding: 0 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    display: block;
    height: 20px;
    line-height: 20px;
}

.live-viewer {
    color: #999;
    font-size: 12px;
    line-height: 1em;
    margin-top: 6px;
}

.live-op-btn {
    float: right;
    margin-top: 25px;
    overflow: hidden;
    margin-right: 20px;
    text-align: center;
    line-height: 30px;
}

.live-op-btn a:first-child {
    width: 50px;
    height: 30px;
    display: block;
    float: left;
    border: 1px solid #49a7fe;
    margin-left: 10px;
    border-radius: 4px;
    color: #fff;
    background: linear-gradient(to top, #49a7fe, #fff);
    background-color: #49a7fe;
    cursor: pointer;
}

.live-op-btn a:last-child {
    width: 50px;
    height: 30px;
    display: block;
    float: left;
    border: 1px solid #49a7fe;
    color: #49a7fe;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.live-video {
    width: 960px;
    border-bottom: 1px solid #e8e8e8;
    height: 608px;
    background: #000;
    position: relative;
}

.live-video>div {
    width: 100%;
    height: 100%;
}

.live-video video {
    width: 100%;
    height: 100%;
}

.live-gift {
    width: 960px;
    border-bottom: 1px solid #e8e8e8;
    height: 608px;
    background: #fff;
    height: 100px;
}

.gift-list {
    float: left;
    margin-left: 10px;
    overflow: hidden;
    width: 870px;
    white-space: nowrap;
}

.gift-list li {
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    float: left;
    background: #f7f7f7;
    position: relative;
    border-radius: 4px;
    margin: 0 11px;
    margin-top: 20px;
    cursor: pointer;
}

.gift-list li.active {
    border: 1px solid #fe8949;
    background: #fbb58f;
    color: #fff;
    height: 90px;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}

.gift-list li.active img {
    position: inherit;
    transform: inherit;
    left: 0;
    top: 0;
    margin-top: 8px;
}

.gift-list li>div {
    display: none;
}

.gift-list li.active>div {
    display: block;
}

.gift-list li img {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 11px;
    top: 11px;
}

.send-gift-btn {
    margin-top: 36px;
    margin-right: 20px;
    width: 46px;
    height: 28px;
    display: block;
    float: right;
    background: #fe8949;
    color: #fff;
    margin-left: 10px;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}

.live-box-right {
    width: 290px;
    float: right;
}

.gift-send-rank-box {
    width: 290px;
    background: #fff;
    height: 264px;
}

.right-title {
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #f7f7f7;
    font-size: 16px;
}

.rank-list {
    height: 200px;
    padding: 7px 20px;
    overflow: auto;
}

.rank-list li {
    overflow: hidden;
    height: 50px;
}

.rank-num {
    float: left;
    border: 1px solid #49a7fe;
    color: #49a7fe;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: 13px;
}

.rank-list li:nth-child(1) .rank-num {
    background: #fe8949;
    color: #fff;
    border: 1px solid #fe8949;
}

.rank-list li:nth-child(2) .rank-num {
    background: #fed649;
    color: #fff;
    border: 1px solid #fed649;
}

.rank-list li:nth-child(3) .rank-num {
    background: #49a7fe;
    color: #fff;
    border: 1px solid #49a7fe;
}

.rank-list li img {
    float: left;
    height: 40px;
    width: 40px;
    border: 1px solid #e8e8e8;
    border-radius: 100px;
    margin: 4px 5px 0 16px;
}

.rank-list li span {
    line-height: 50px;
    display: block;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.chat-box {
    width: 290px;
    background: #fff;
    height: 516px;
    margin-top: 10px;
}

.chat-list {
    font-size: 16px;
    font-size: 12px;
    word-break: break-all;
    position: relative;
    height: 418px;
    overflow: hidden;
}

.no-vip-tip {
    text-align: center;
    color: #49a7fe;
    margin-top: 140px;
}

.chat-list ul {
    height: 368px;
    padding: 10px 0;
    color: #666;
    overflow: auto;
    box-sizing: border-box;
}

.chat-list ul li {
    overflow: hidden;
    line-height: 17px;
    padding: 0 20px;
    margin-bottom: 8px;
}

.chat-list ul li:last-child {
    margin-bottom: 0;
}

.chat-username {
    float: left;
    color: #49a7fe;
    cursor: pointer;
}

.chat-user-vip {
    float: left;
    position: relative;
    top: 2px;
    margin-left: 5px;
}

.chat-split {
    color: #49a7fe;
    margin-right: 5px;
}

.send-gift-message-box {
    display: none;
    position: absolute;
    background: #fff;
    top: 10px;
    width: 265px;
    border: 1px solid #fe8f52;
    left: 50%;
    transform: translateX(-50%);
    height: 56px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(205, 52, 39, 0.2)
}

.send-gift-msg {
    float: left;
    margin-top: 12px;
    margin-left: 20px;
}

.send-gift-img {
    float: right;
    background: #f7f7f7;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-top: 10px;
}

.send-username {
    overflow: hidden;
}

.send-username span {
    float: left;
    color: #ff993d;
    font-weight: bold;
}

.send-gift-name span:first-child {
    color: #999;
    margin-right: 3px;
}

.send-gift-name span:last-child {
    color: #ff993d;
    margin-right: 3px;
}

.send-gift-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-form {
    height: 48px;
    text-align: center;
    background: #f7f7f7;
    padding-top: 9px;
}

.chat-form input {
    height: 28px;
    border: 1px solid #ddd;
    outline: none;
    width: 190px;
    padding: 0 10px;
    float: left;
    margin-left: 10px;
}

.chat-form a {
    display: block;
    color: #fff;
    background: #49a7fe;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 50px;
    margin-left: 10px;
    cursor: pointer;
}

.theme-split {
    margin-top: 100px;
    width: 100%;
}

.live-preview-list {
    overflow: hidden;
    margin-top: 57px;
}

.live-preview-list li {
    float: left;
    overflow: hidden;
    margin-right: 69px;
}

.live-preview-list li:last-child {
    margin-right: 0;
}

.live-pre-img {
    float: left;
    background-image: url('../images/home_pic_video_round.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 110px;
    height: 110px;
    position: relative;
}

.live-preview-list li.active .live-pre-img {
    background-image: url('../images/home_pic_video_blue.png');
}

.live-pre-img img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 15px;
    top: 15px;
    border-radius: 100px;
}

.live-pre-msg {
    float: left;
    width: 133px;
    margin-left: 20px;
}

.live-pre-msg p:first-child {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}

.live-preview-list li.active .live-pre-msg p:first-child {
    color: #49a7fe;
}

.live-pre-msg p:last-child {
    color: #435061;
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
}

.game-box {
    margin: 73px auto;
    width: 1120px;
    height: 330px;
    background-image: url('../images/home_pic_box.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.game-msg {
    position: absolute;
    right: 135px;
    bottom: 100px;
    text-align: center;
    width: 525px;
    font-size: 16px;
}

.game-time {
    color: #9badc8;
}

.game-intro {
    color: #5b6678;
    margin-top: 20px;
}

.error-msg {
    z-index: 1000;
    background: #fe4d49;
    height: 50px;
    line-height: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    text-align: center;
    display: none;
}

.error-msg img {
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.regist-way-menu,
.login-way-menu {
    border-bottom: 4px solid #f5f5f5;
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 16px;
}

.regist-way-menu li,
.login-way-menu li {
    float: left;
    padding: 4px 0;
    position: relative;
    top: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.regist-way-menu li:last-child,
.login-way-menu li:last-child {
    margin: 0
}

.regist-way-menu li.active,
.login-way-menu li.active {
    border-bottom: 4px solid #49a7fe;
    color: #49a7fe;
    padding: 0 0 10px 0;
    font-size: 20px;
}

.qrcode-btn {
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer;
}

.qrcode-btn img {
    width: 47px;
    height: 47px;
}

.validate-input,
.password-input,
.phone-input {
    margin-top: 70px;
    width: 380px;
    height: 50px;
    border: 0;
    background: #f7f7f7;
    position: relative;
    border-radius: 6px;
}

.validate-input img,
.password-input img,
.phone-input img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.validate-input input,
.password-input input,
.phone-input input {
    font-size: 16px;
    height: 50px;
    margin-left: 55px;
    background: none;
    border: 0;
    width: 300px;
    outline: none;
}

.password-input {
    margin-top: 25px;
}

.validate-input {
    width: 280px;
    float: left;
    margin-top: 0;
}

.validate-input input {
    width: 200px;
}

.login-validate-input {
    display: none;
}

.validate-input-box {
    overflow: hidden;
    margin-top: 25px;
}

.validate-num-btn {
    float: right;
    display: block;
    height: 40px;
    width: 90px;
    border: 1px solid #49a7fe;
    color: #49a7fe;
    text-align: center;
    line-height: 40px;
    margin-top: 4px;
    border-radius: 4px;
}

.goto-regist-box {
    margin-top: 16px;
    margin-bottom: 40px;
    overflow: hidden;
}

.goto-regist-box p {
    float: left;
}

.goto-regist-box>a {
    color: #666;
    float: right;
    cursor: pointer;
}

.goto-regist-box p a {
    color: #49a7fe;
    cursor: pointer;
}

.login-btn {
    display: block;
    height: 50px;
    color: #fff;
    background: #49a7fe;
    line-height: 50px;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
}

.qrcode-login-box {
    display: none;
    text-align: center;
}

.goto-password-login {
    position: relative;
}

.goto-password-login span {
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
}

.goto-password-login a {
    border: 1px solid #49a7fe;
    color: #49a7fe;
    position: absolute;
    left: 0;
    padding: 0 8px;
    cursor: pointer;
}

.qrcode-img {
    width: 150px;
    height: 150px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.qrcode-login-success {
    display: none;
    margin-bottom: 50px;
    margin-top: 80px;
}

.qrcode-login-success img {
    margin-bottom: 15px;
}

.qrcode-goto-regist {
    color: #666;
}

.qrcode-goto-regist a {
    color: #49a7fe;
    cursor: pointer;
}

.other-login-title {
    border-bottom: 1px solid #e8e8e8;
    margin-top: 40px;
}

.other-login-title p {
    background: #fff;
    width: 150px;
    text-align: center;
    position: relative;
    top: 9px;
    margin: 0 auto;
}

.other-login-box {
    margin-top: 40px;
    text-align: center;
}

.other-login-box a {
    margin: 0 26px;
    display: inline-block;
}

.other-login-box a img {
    width: 60px;
    border: 0;
}

.agree-rules img {
    position: relative;
    top: 2px;
    cursor: pointer;
}

.cancel-bind-btn {
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 15px;
    color: #999;
    cursor: pointer;
}

.bind-phone-desc {
    margin-top: 70px;
    color: #999;
}

.bindphone-input {
    margin-top: 20px;
}

.bind-phone-exist {
    margin-top: 15px;
    display: block;
    color: #49a7fe;
    text-align: center;
    cursor: pointer;
}

.user-info {
    width: 160px;
    height: 139px;
    background: #fff;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(205, 52, 39, 0.2);
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    display: none;
}

.user-info img {
    width: 54px;
    height: 54px;
    border-radius: 100px;
    margin-top: 30px;
}