html,
body {
    background-color: #09172d;
    background-image: url('../images/back.png');
}

.header {
    height: 80px;
    max-width: 100%;
    background: #fff;
    overflow: hidden;
}

.header-content {
    height: 80px;
    width: 1260px;
    margin: 0 auto;
}

.logo {
    width: 210px;
    height: 118px;
    float: left;
    font-size: 34px;
    text-align: center;
    line-height: 90px;
    background-image: url('../images/logo.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.menu {
    height: 80px;
    float: left;
    margin-left: 15px;
}

.menu li {
    font-size: 16px;
    height: 80px;
    padding: 0 15px;
    float: left;
    line-height: 80px;
}

.no-login-info,
.login-info {
    font-size: 16px;
    float: right;
    height: 80px;
    line-height: 80px;
}

.no-login-info img,
.login-info img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    -moz-border-radius: 50px;
    float: left;
    margin-top: 20px;
    margin-right: 7px;
    cursor: pointer;
}

.login-info span {
    color: #2da9dd;
    margin-right: 28px;
}

.open-login-btn {
    color: #2da9dd;
}

.no-login-info a {
    cursor: pointer;
}

.open-login-btn span {
    font-weight: bold;
    font-size: 14px;
    position: relative;
    bottom: 2px;
    margin: 0 5px;
}

.container {
    width: 1260px;
    margin: 0 auto 20px auto;
    overflow: hidden;
}